@import "src/common/styles/index";

.classContainer {
  @include flexColumnCenter;
  gap: 1rem;

  width: 100%;
  margin-top: 2rem;

  overflow-y: hidden;

  .classTitle {
    @include h4;
    color: #B6B6B6;
  }

  .classInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;

    width: 100%;

    .infoTitle {
      align-self: center;
      justify-self: center;

      @include p(1.2em);
    }

    .infoName {
      align-self: center;
      justify-self: start;

      @include p(1.2em);
    }

    .infoOffer {
      @include flexRowSpace;
      justify-self: center;

      width: 100%;
      height: 52px;
      padding: 0 1rem;

      border-radius: 8px;
      border: 1px solid $border_color_light;
      background-color: transparent;

      cursor: pointer;
      transition: all ease-in-out .15s;

      &.active {
        border: 1px solid $main_color;
        background-color: $main_color;
      }

      &:hover {
        border: 1px solid $main_color;
      }

      &.unavailable {
        border: 1px solid $border_color;
        background-color: $border_color_light;

        .offerTitle {
          color: $text_color_light;
        }
      }

      .offerBody {
        @include flexColumnTopLeft;

        .bodyClass {
          @include p(1.1em);
        }

        .bodyType {
          @include p(1em);
          opacity: .5;
        }
      }

      .offerTitle {
        @include p(1.15em);
      }
    }
  }
}
