@import "src/common/styles/index";

.cardForm {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-areas: ". .";

  width: 100%;

  @include sm {
    @include flexColumnCenterLeft;
  }
}
