@import "src/common/styles/index";

.cityContainer {
  @include flexColumnCenterLeft;
  gap: 4px;

  position: relative;

  width: 156px;
  height: 42px;

  cursor: pointer;

  @include fadeIn;
  animation-delay: .35s;

  .cityLabel {
    @include p(.75em, $text_color_light);
  }

  .citySelected {
    @include p(1em);
  }

  .cityPlaceholder {
    @include p(1em);
    opacity: .65;
  }

  .cityInput {
    width: 100%;
    height: 16px;

    @include p(1em);

    &::placeholder {
      color: $text_color;
      opacity: .65;
    }
  }

  .citySearch {
    position: absolute;
    left: calc(50% - 104px);
    top: 64px;

    width: 208px;

    border-radius: 12px;
    border: 1px solid $border_color;
    background-color: $background_color;

    .searchContent {
      @include flexColumnTopLeft;

      width: 100%;
      min-height: 256px;

      overflow-x: hidden;

      .searchItem {
        @include flexRowCenterLeft;
        gap: 6px;

        width: 100%;
        height: 48px;
        padding: 0 .5rem;

        border-radius: 6px;

        cursor: pointer;
        @include defaultTransition;

        &:hover {
          background-color: rgba(255, 212, 100, 0.5);
        }

        img {
          border-radius: 2px;
        }

        .itemTitle {
          @include p(1.2em);
        }
      }
    }
  }
}
