@import "src/common/styles/index";

.searchDate {
  @include flexRowCenterLeft;
  gap: 32px;

  position: relative;

  .searchDivider {
    width: 1px;
    height: 42px;

    background-color: $border_color;

    @include fadeIn;
    animation-delay: .35s;
  }

  .searchPicker {
    display: none;
    opacity: 0;

    position: absolute;
    top: 42px;
    left: 0;

    transform-origin: top;

    &.active {
      display: flex;
      opacity: 1;

      animation: slideDown ease-in-out .2s backwards;
    }
  }
}

@keyframes slideDown {
  0% {
    display: flex;
    transform: scaleY(0);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    display: flex;
    transform: scaleY(1);
    opacity: 1;
  }
}

