@import "src/common/styles/index";

.searchDate {
  @include flexRowCenterLeft;
  gap: 32px;

  position: relative;

  .searchDivider {
    width: 1px;
    height: 42px;

    background-color: $border_color;

    @include fadeIn;
    animation-delay: .35s;
  }

  .searchCalendar {
    position: absolute;
    left: calc(50% - 180px);
    top: 56px;

    z-index: 990;

    .calendarControl {
      @include flexRowSpace;

      position: absolute;
      left: 16px;
      top: 16px;

      width: 328px;

      .controlWay {
        width: 128px;
        height: 32px;

        border-radius: 8px;
        border: 1px solid $main_color;
        background-color: $main_color;

        cursor: pointer;
        @include defaultTransition;

        &:hover {
          background-color: transparent;
        }

        .wayTitle {
          @include p(.9em);
        }
      }

      .controlClose {
        @include flexRowCenter;

        height: 32px;

        cursor: pointer;

        .closeTitle {
          transform: rotate(45deg);
          @include p(1.4em);
        }
      }
    }
  }
}

@keyframes slideDown {
  0% {
    display: flex;
    transform: scaleY(0);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    display: flex;
    transform: scaleY(1);
    opacity: 1;
  }
}

