@import "src/common/styles/index";

.authWrapper {
  display: flex;

  width: 100%;
  min-height: 100vh;

  background-color: rgba(29, 29, 31, 0.4);
  backdrop-filter: blur(1rem);

  @include md {
    background-color: transparent;
  }
}
