@import "src/common/styles/index";

.companyWrapper {
  @include flexRowCenter;

  width: 100%;
  padding: 2rem 0;

  .companyContainer {
    @include flexColumnCenterLeft;
    gap: 32px;

    width: 100%;

    .companyHeader {
      @include flexRowSpace;

      width: 100%;

      @include md {
        @include flexColumnCenterLeft;
        gap: 24px;
      }

      .headerInfo {
        @include flexRowSpace;
        width: 100%;

        .infoContainer {
          @include flexColumnCenterLeft;
          gap: 4px;

          .infoTitle {
            @include h2;

            @include sm {
              font-size: 2em;
            }
          }

          .infoTax {
            @include p(1.2em);
            color: $text_color_light;

            @include sm {
              font-size: 1em;
            }
          }
        }

        .infoEdit {
          display: none;
          min-width: 56px;
          width: 56px;

          @include md {
            display: block;
            min-width: 48px;
            width: 48px;
          }

          .editIcon {
            width: 20px;
            height: 20px;
          }
        }
      }

      .headerUsers {
        @include flexRowCenter;
        gap: 12px;

        width: 100%;
        max-width: 296px;

        @include md {
          max-width: 100%;
        }

        .usersManage {
          width: 100%;
        }

        .usersEdit {
          min-width: 56px;
          width: 56px;

          @include md {
            display: none;
          }

          .editIcon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .companyContent {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 32px;
      grid-row-gap: 24px;

      width: 100%;

      @include sm {
        @include flexColumnCenterLeft;
        gap: 24px;
      }
    }
  }
}

.skeletonHeader {
  @include flexRowSpace;
  gap: 24px;

  width: 100%;
  padding: 2rem 0;

  @include sm {
    @include flexColumnCenterLeft;
  }

  .headerContent {
    @include flexColumnCenterLeft;
    gap: 6px;
  }

  .headerButton {
    width: 100%;
    max-width: 208px;

    @include sm {
      max-width: 100%;
      height: 48px !important;
    }
  }
}

.skeletonContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 24px;

  width: 100%;

  @include sm {
    @include flexColumnCenterLeft;
    gap: 24px;
  }

  .contentItem {
    @include flexColumnCenterLeft;
    gap: 24px;

    width: 100%;
    padding: 1.5rem;

    border-radius: 12px;
    border: 1px solid $border_color;

    .itemData {
      width: 100%;

      @include flexRowSpace;
    }
  }
}

.skeletonAddition {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 24px;

  width: 100%;
  margin-bottom: 2rem;

  @include md {
    @include flexColumnCenterLeft;
  }

  .additionItem {
    @include flexColumnCenterLeft;
    gap: 24px;

    width: 100%;
    margin-top: 2rem;

    &.second {
      grid-area: 2 / 1 / 3 / 2;
    }

    .itemHeader {
      @include flexRowSpace;

      width: 100%;
    }

    .itemContent {
      @include flexRowSpace;

      width: 100%;

      .contentControl {
        @include flexRowSpace;

        max-width: 196px;
        width: 100%;
      }
    }
  }
}
