$main_color: #FFD464;
$main_color_hover: #FFF5E4;

$text_color: #1d1d1f;
$text_color_light: #C5C5C5;

$border_color: #CDCDCD;
$background_color: #FFFFFF;

$green_color: #179642;
$red_color: #FF2C21;
$red_color_hover: #FFF1F0;
