@import "colors";

@mixin h1($color: #1D1D1F) {
  font-family: "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 600;

  color: $color;

  line-height: 100%;
}

@mixin h2($color: #1D1D1F) {
  font-family: "Poppins", sans-serif;
  font-size: 2.5em;
  font-weight: 600;

  color: $color;

  line-height: 100%;
}

@mixin h3($color: #1D1D1F) {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: 500;

  color: $color;

  line-height: 100%;
}

@mixin h4($color: #1D1D1F) {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 500;

  color: $color;

  line-height: 100%;
}

@mixin h5($color: #1D1D1F) {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  font-weight: 500;

  color: $color;

  line-height: 100%;
}

@mixin p($size: 1em, $color: #1D1D1F) {
  font-family: "Poppins", sans-serif;
  font-size: $size;
  font-weight: 400;

  color: $color;

  line-height: 100%;
}
