@import "src/common/styles/index";

.loginTitle {
  @include h3;
  line-height: 120%;

  margin-bottom: 48px;

  @include fadeIn;
  animation-delay: .4s;

  @include md {
    color: $background_color;
  }
}

.loginContent {
  @include flexColumnCenter;
  gap: 32px;

  width: 100%;
  max-width: 375px;

  .contentFields {
    @include flexColumnCenter;
    gap: 16px;

    width: 100%;

    @include fadeIn;
    animation-delay: .45s;

    .fieldsConfirm {
      @include flexColumnCenter;
      gap: 8px;

      width: 100%;

      .conformError {
        height: 18px;

        @include p(.875em, $red_color);

        transform-origin: bottom;
        animation: slideUp ease-in .1s;
        animation-fill-mode: backwards;
      }

      .confirmForgot {
        cursor: pointer;

        .forgotTitle {
          @include p(.875em, $text_color_light);
          text-decoration: underline;

          @include md {
            color: $background_color;
          }
        }
      }
    }
  }

  .contentDivider {
    @include p(1.2em);

    @include fadeIn;
    animation-delay: .5s;

    @include md {
      color: $background_color;
    }
  }

  .contentSso {
    @include flexColumnCenter;
    gap: 16px;

    width: 100%;

    @include fadeIn;
    animation-delay: .55s;
  }
}

.welcomeContainer {
  @include flexColumnCenter;
  gap: 24px;

  width: 100%;

  @include md {
    display: none;
  }

  .welcomeIcon {
    @include flexRowCenter;

    width: 64px;
    height: 64px;

    border-radius: 6px;
    background-color: $main_color;

    @include fadeIn;
    animation-delay: .6s;

    .iconTitle {
      @include p(2.5em);
    }
  }

  .welcomeInfo {
    @include flexColumnCenter;
    gap: 8px;

    padding: 0 .5rem;

    .infoTitle {
      @include h2;
      text-align: center;
      color: $background_color;

      @include fadeIn;
      animation-delay: .65s;
    }

    .infoDescription {
      @include p(1.25em);
      text-align: center;
      color: $background_color;

      @include fadeIn;
      animation-delay: .7s;
    }
  }
}

@keyframes slideUp {
  0% {
    height: 0;
    transform: scaleY(0);
  }

  100% {
    height: 18px;
    transform: scaleY(1);
  }
}
