@import "src/common/styles/index";

.listWrapper {
  @include flexRowCenter;

  width: 100%;

  .listContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;

    width: 100%;

    @include sm {
      @include flexColumnCenterLeft;
    }

    .listHeader {
      @include flexRowSpace;

      width: 100%;

      grid-area: 1 / 1 / 2 / 2;

      .headerTitle {
        @include h3;

        @include sm {
          font-size: 1.8em;
        }
      }

      .headerAction {
        @include flexRowCenter;

        width: 40px;
        height: 40px;

        border-radius: 10px;
        border: 1px solid $main_color;
        background-color: $main_color;

        cursor: pointer;
        @include defaultTransition;

        &:hover {
          background-color: $main_color_hover;
        }

        .actionTitle {
          margin-top: 1px;

          @include p(1.2em);
        }
      }
    }

    .listContent {
      @include flexColumnCenterLeft;
      gap: 16px;

      width: 100%;

      grid-area: 2 / 1 / 3 / 2;
    }
  }
}
